@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" href="Site.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

            <div class="row">
                <div class="col-md-2">
                    <img src="~/Content/images/Plus May 13, 2020.jpg"  alt="logo" width="150" height="100">
                </div>

                <div class="col-md-2">
         

                        <div class="col-md-2">
                            <form action="" class="search_form">
                                <div class="search">
                                    <input type="text" placeholder="Meklēt" class="search_input">
                                    <button type="submit" class="search_button">
                                        <img src="~/Content/images/Plus May 13, 2020.jpg"alt="search" class="search_image" width="10" height="10">
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <nav class="nav">
                                <a href="" class="nav_item">
                                    Sākums
                                </a>

                                <a href="" class="nav_item">
                                    Par mani
                                </a>

                                <a href="" class="nav_item">
                                    Kontakti

                                </a>
                            </nav>
                        </div>
                    </div>
                </div>


    <section>
        <div class="container">
            <div class="hero">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-1">
                        <div class="hero_content">
                            <h1>Ēdienu foto</h1>
                            <p>Laipni lūgti manā portfolio!</p>
                            <div class="hero_button-wrapper"></div>
                            <a href="#" class="hero_button">
                                Lasīt vairāk
                            </a>
                            <a href="#" class="hero_button">
                                Pieteikties
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/images/Bujums burgeri gatavi May 07, 2020-25.jpg" alt="image" width="250" height="180">
            <h3>
                Virsraksts Virsraksts Virsraksts
            </h3>
            <div class="news_read-more-wrapper">
                <a href="#" class="news_read-more">
                    Lasīt vairāk
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/images/Bujums burgeri gatavi May 07, 2020-27.jpg" alt="image" width="250" height="180">
            <h3>
                Virsraksts Virsraksts Virsraksts
            </h3>
            <div class="news_read-more-wrapper">
                <a href="#" class="news_read-more">
                    Lasīt vairāk
                </a>
            </div>
        </div>
    </div>  
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/images/Vafeles saldējums May 09, 2020.jpg" alt="image" width="250" height="180">
            <h3>
                Virsraksts Virsraksts Virsraksts
            </h3>
            <div class="news_read-more-wrapper">
                <a href="#" class="news_read-more">
                    Lasīt vairāk
                </a>
            </div>
        </div>
    </div>
</body>   